html {
	font-size: 16px;
}

.description, .ingredients, .sub-section, .steps {
	font-size: 18px;
	font-family: sans-serif;
}

.ingredients li {
	padding: 4px;
	list-style-type: none;
}

.recipe-list {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 24px;
	list-style-type: none;
}

.recipe-list li{
	padding: 8px;
}

.recipe-title {
	background-color:darksalmon;
	font-family: Georgia, serif;
	font-size: 30px;
	padding: 8px;
}

.section {
	background-color: bisque;
	font-size: 24px;
	font-family: sans-serif;
	padding: 8px;
}

.steps li {
	padding: 8px;
}
